<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../Assets/css/admin-change-password.css">
    <script src="https://kit.fontawesome.com/300fc8e5c2.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrapper">
        <div class="upperbar">
            <div class="weblogoplace">
                <img src="logo.png" alt="not rendered" id="weblogoimg">
            </div>
            <div class="webnameplace">
                <div class="webname"><p id="temp1">Student Information System</p></div>
            </div>        
        </div>
        <div class="downflex">
        <div class="sidenav">
            <div class="sidenavopt">
                <ul>
                    <li><a href="#" class="bcolor"><i class="fa-solid fa-house"></i> Home </a></li>
                    <li id="for-down"><a href="#"><i class="fa fa-list-alt" aria-hidden="true"></i>
                        <select name="" id="test" onmousedown="forfocus()" onblur="forblur()" class="dropmenu" onchange="window.location.href=this.value;">
                            <option value="none" selected disabled hidden class="dropitems">New Registration</option>
                            <option value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands." class="dropitmes">Student Registration</option>
                            <option value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands." class="dropitmes">Faculty Registration</option>
                          </select>
                    </a></li>
                   
                    <li><a href="#"><i class="fa-solid fa-clipboard"></i>&nbsp;Course Management </a></li>
                    <li><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;Degree Management </a></li>
                    <li><a href="#"><i class="fa-solid fa-clipboard"></i>&nbsp;branch Management </a></li>
                    <li><a href="#"><i class="fa-solid fa-clipboard"></i>&nbsp;Programme Management </a></li>
                    <li><a href="#"><i class="fa-solid fa-clipboard"></i>&nbsp;Semester </a></li>
                    
                    <li><a href="#"><i class="fa fa-bullhorn" aria-hidden="true"></i>&nbsp;Announcement </a></li>
                    
                    <li><a href="#"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>&nbsp;Fees </a></li>
                    <li><a href="#"><i class="fa-solid fa-key"></i> Change Password </a></li>
                    <li><a  href="#"><i class="fa-solid fa-right-to-bracket"></i> Logout </a></li>
                  </ul>
            </div>
            <div class="sidenavdown">
                <div class="curruserlogo">
    
                </div>
                <div class="currusername">
                    Prof Saurbh Tiwari
                </div>
            </div>
        </div>
    
        <div class="content">
       
            <div class="changepassword-wrapper">
            
                <div class="changepasswordtagplace">
                    <center>Change Password</center>
                </div>
        
                <br>
                <p class="subtags">Old Password</p>
                <div class="containerforinput">
                    <div class="sidelogoofpass">
                        <img src="5832-removebg-preview.png" alt="">
                    </div>
                    <div class="inputbox">
                        <input type="password" placeholder="Enter Old Password">
                        <hr class="horizontalline">
                    </div>
                </div>
    
                <p class="subtags">New Password</p>
                <div class="containerforinput">
                    <div class="sidelogoofpass">
                        <img src="lock-f-removebg-preview.png" alt="">
                    </div>
                    <div class="inputbox">
                        <input type="password" placeholder="Enter New Password">
                        <hr class="horizontalline">
                    </div>
                </div>
    
                <p class="subtags">Confirm New Password</p>
                <div class="containerforinput">
                    <div class="sidelogoofpass">
                        <img src="lock-f-removebg-preview.png" alt="">
                    </div>
                    <div class="inputbox">
                        <input type="password" placeholder="Confirm New Password">
                        <hr class="horizontalline">
                    </div>
    
                </div>
    
                <div class="placeforbutton">
                    <button type="button" class="btn">Submit</button>
    
                </div>
    
            </div>
            
     <!-- content     -->
    </div>

    
    <!-- downflex -->
    </div>

    <!-- wrapper -->
    </div>
<script src="admin-change-password.js"></script>
</body>
</html>
</body>
</html>