<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../Assets/css/student-result.css">
    <script src="https://kit.fontawesome.com/300fc8e5c2.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrapper">
        <div class="upperbar">
            <div class="weblogoplace">
                <img src="logo.png" alt="not rendered" id="weblogoimg">
            </div>
            <div class="webnameplace">
                <div class="webname"><p id="temp1">Student Information System</p></div>
            </div>        
        </div>
        <div class="downflex">
        <div class="sidenav">
            <div class="sidenavopt">
                <ul>
                    <li><a href="#" class="bcolor"><i class="fa-solid fa-house"></i> Home </a></li>
                    <li><a href="#" class="bcolor"><i class="fa-solid fa-user"></i> Student Details </a></li>
                    <li><a href="#" class="bcolor"><i class="fa-solid fa-file"></i>&nbsp;Grade Reports</a></li>
                    <li><a href="#"><i class="fa-solid fa-clipboard"></i>&nbsp;Attendence </a></li>
                    <li><a href="#"><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;Course Registration </a></li>
                    <li><a href="#" class="bcolor"><i class="fa-solid fa-file"></i>&nbsp;Fee Receipt</a></li>
                   
                    <li><a href="#"><i class="fa fa-bullhorn" aria-hidden="true"></i>&nbsp;Announcement </a></li>
                    <li><a href="#" class="bcolor"><i class="fa-solid fa-file"></i>&nbsp;Transcript</a></li>
                    <li><a href="#"><i class="fa-solid fa-key"></i> Change Password </a></li>
                    <li><a  href="#"><i class="fa-solid fa-right-to-bracket"></i> Logout </a></li>
                  </ul>
            </div>
            <div class="sidenavdown">
                <div class="curruserlogo">
    
                </div>
                <div class="currusername">
                    Prof Saurbh Tiwari
                </div>
            </div>
        </div>
    
        <div class="content">
       
            <div class="result-wrapper">
                <div class="gradetagplace">
                    <h2>GRADE REPORT</h2>
                </div>
                <div class="basicdetailplace">
                    <p class="grid-item start"><b>Name</b></p>
                    <p class="grid-item start">Gopal Vaghela</p>
                    <p class="grid-item start"><b>Student-id</b></p>
                    <p class="grid-item start">202101483</p>
                    <p class="grid-item start"><b>Programme</b></p>
                    <p class="grid-item start">ICT</p>
                    <p class="grid-item start"><b>Batch</b></p>
                    <p class="grid-item start">2021</p>
                </div>
                <div class="semestertag">
                    <h2 class="Sem-Tag">Semester-IV</h2> 
                </div>
                <div class="gradedetailplace">
                    <h3 class="grid-item titles">Course</h3>
                    <h3 class="grid-item titles">Code</h3>
                    <h3 class="grid-item titles">Credit</h3>
                    <h3 class="grid-item titles">Grade</h3>
                    <h3 class="grid-item titles">Grade-Points</h3>
                    <p class="grid-item start">Linear-Algebra</p>
                    <p class="grid-item">IT-214</p>
                    <p class="grid-item">4.0</p>
                    <p class="grid-item">AA</p>
                    <p class="grid-item">40</p>
                    <p class="grid-item start">Linear-Algebra</p>
                    <p class="grid-item">IT-214</p>
                    <p class="grid-item">4.0</p>
                    <p class="grid-item">AA</p>
                    <p class="grid-item">40</p>
                    <p class="grid-item start">Linear-Algebra</p>
                    <p class="grid-item">IT-214</p>
                    <p class="grid-item">4.0</p>
                    <p class="grid-item">AA</p>
                    <p class="grid-item">40</p>
                    <p class="grid-item start">Linear-Algebra</p>
                    <p class="grid-item">IT-214</p>
                    <p class="grid-item">4.0</p>
                    <p class="grid-item">AA</p>
                    <p class="grid-item">40</p>
                    <p class="grid-item start">Linear-Algebra</p>
                    <p class="grid-item">IT-214</p>
                    <p class="grid-item">4.0</p>
                    <p class="grid-item">AA</p>
                    <p class="grid-item">40</p>
                    <p class="grid-item start">Linear-Algebra</p>
                    <p class="grid-item">IT-214</p>
                    <p class="grid-item">4.0</p>
                    <p class="grid-item">AA</p>
                    <p class="grid-item">40</p>
                    <p class="grid-item start">Linear-Algebra</p>
                    <p class="grid-item">IT-214</p>
                    <p class="grid-item">4.0</p>
                    <p class="grid-item">AA</p>
                    <p class="grid-item">40</p>
                </div>
                <div class="countplace">
                    <p class="center-and-bold" id="forspanning">Semester Perfomance</p>
                    <p class="center-and-bold">Credits-Registred</p>
                    <p class="center-and-bold">Credits-Earned</p>
                    <p class="center-and-bold">Grade-Points Earned</p>
                    <p class="center-and-bold">SPI</p>
                    <p class="center-and-bold">CPI</p>
                    <p class="grid-item">18.0</p>
                    <p class="grid-item">18.0</p>
                    <p class="grid-item">125.0</p>
                    <p class="grid-item">7.35</p>
                    <p class="grid-item">7.80</p>

                </div>
                <div class="printbtnplace">
                    <button type="button" class="btn">Print</button>
                </div>
            </div>
            
     <!-- content     -->
    </div>

    
    <!-- downflex -->
    </div>

    <!-- wrapper -->
    </div>

</body>
</html>
</body>
</html>