<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../Assets/css/student-profile.css">
    <script src="https://kit.fontawesome.com/300fc8e5c2.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrapper">
        <div class="upperbar">
            <div class="weblogoplace">
                <img src="logo.png" alt="not rendered" id="weblogoimg">
            </div>
            <div class="webnameplace">
                <div class="webname"><p id="temp1">Student Information System</p></div>
            </div>        
        </div>
        <div class="downflex">
        <div class="sidenav">
            <div class="sidenavopt">
                <ul>
                    <li><a href="#" class="bcolor"><i class="fa-solid fa-house"></i> Home </a></li>
                    <li><a href="#" class="bcolor"><i class="fa-solid fa-user"></i> Student Details </a></li>
                    <li><a href="#" class="bcolor"><i class="fa-solid fa-file"></i>&nbsp;Grade Reports</a></li>
                    <li><a href="#"><i class="fa-solid fa-clipboard"></i>&nbsp;Attendence </a></li>
                    <li><a href="#"><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;Course Registration </a></li>
                    <li><a href="#" class="bcolor"><i class="fa-solid fa-file"></i>&nbsp;Fee Receipt</a></li>
                  
                    <li><a href="#"><i class="fa fa-bullhorn" aria-hidden="true"></i>&nbsp;Announcement </a></li>
                    <li><a href="#" class="bcolor"><i class="fa-solid fa-file"></i>&nbsp;Transcript</a></li>
                    <li><a href="#"><i class="fa-solid fa-key"></i> Change Password </a></li>
                    <li><a  href="#"><i class="fa-solid fa-right-to-bracket"></i> Logout </a></li>
                  </ul>
            </div>
            <div class="sidenavdown">
                <div class="curruserlogo">
    
                </div>
                <div class="currusername">
                    Prof Saurbh Tiwari
                </div>
            </div>
        </div>
    
        <div class="content">

            <div class="temp-wrapper">

            <div class="left-box">
         

                <div class="student-photo">
    
                  <img src="https://img.freepik.com/free-photo/3d-car-with-vibrant-colors_23-2150797034.jpg?t=st=1698597442~exp=1698601042~hmac=718aad19edb19be7663a79a45eb553ea7060638378fe752932283e45a2570f11&w=740" alt="student img" class="studentimg">
    
                </div>
    
                <div class="student-name">
                  Sundar Pichai
                </div>
    
            </div>
    
    
            <div class="for-include-edit-btn">
            <div class="right-box">
              
              <div class="table-responsive table-hover">
                <table class="table" >
                <thead class=" text-primary">
                </thead>
                <tbody>
    
                <tr>
                    <td style="width: 25%;">First Name</td>
                    <td style="width: 2%;">:</td>
                    <td style="width: 68%;"> 
                      <input readonly type="text" class="ip-boxes-editable" value="Ram" id="first-name">
                    </td>
                </tr>
    
                <tr>
                  <td>Middle Name</td>
                  <td>:</td>
                  <td>
                    <input readonly type="text" class="ip-boxes-editable" value="Vijaybhai" id="middle-name">
                   </td>
              </tr>
    
              <tr>
                  <td>Last Name</td>
                  <td>:</td>
                  <td>
                    <input readonly type="text" class="ip-boxes-editable" value="Agarwal" id="last-name">
                  </td>
              </tr>
    
              <tr>
                    <td>Student ID</td>
                    <td>:</td>
                    <td>
                      <input readonly type="text" class="ip-boxes-editable" value="202101011" id="student-id">
                    </td> 
              </tr>
                
              <tr>
                <td>Mobile Number</td>
                <td>:</td>
                <td>
                  <input readonly type="text" class="ip-boxes-editable" value="999999999" id="mobile-no">
                </td>
            </tr>
    
    
            <tr>
              <td>Gender</td>
              <td>:</td>
              <td>
                <input readonly type="text" class="ip-boxes-editable" value="Ram" id="gender">
              </td>
            </tr>
    
            <tr>
              <td>Date Of Birth</td>
              <td>:</td>
              <td>
                <input readonly type="date" class="ip-boxes-editable" value="20-01-1999" id="dob">
                 </td>
            </tr>
    
            <tr>
                <td>Email Address</td>
                <td>:</td>
                <td>
                  <input readonly type="email" class="ip-boxes-editable" value="adnbcd@gmail,com" id="emailaddr">  
                </td>
              </tr>
                
              <tr>
                <td>Permanent Address</td>
                <td>:</td>
                <td>
                  
                  <input readonly type="text" class="ip-boxes-editable" value="G-road, krushnanagar - delhi delhi, delhi- 123456 " id="homeaddr">
                </td>
            </tr>  
                
                
            <tr>
              <td>Parent Email Address</td>
              <td>:</td>
              <td>
                <input readonly type="email" class="ip-boxes-editable" value="adnbcd@gmail,com" id="parentmailaddr">  
              </td>
            </tr>
    
            
    
            <tr>
              <td>Batch</td>
              <td>:</td>
              <td>
                <input readonly type="text" class="ip-boxes-editable" value="B.Tech-2021" id="batch">
              </td>
            </tr>
    
    
            <tr>
              <td>Blood-group</td>
              <td>:</td>
              <td>
                <input readonly type="text" class="ip-boxes-editable" value="A-positive" id="bloodgroup">
              </td>
            </tr>
    
            
             <tr>
              <td>ProgramRegistered</td>
              <td>:</td>
              <td>
                <input readonly type="text" class="ip-boxes-editable" value="ICT-CS" id="programme">
              </td>
            </tr>
    
           
              
               
                </tbody>
            </table>
            </div>
    
            </div>

            <div class="buttonplace">
             <button class="edit-btn" onclick="edit()">Edit</button>
            </div>
            
            <!-- for-include-bottom button-->
            </div>

            </div>
            
           
            
     <!-- content     -->
    </div>

    
    <!-- downflex -->
    </div>

    <!-- wrapper -->
    </div>

    <script src="../../Assets/js/student-profile.js"></script>
</body>
</html>
</body>
</html>